<% if (messages) { %>
    <% for (let message of messages) { %>
      <div class="alert text-center" style="background-color: #ff703c79; font-weight: 900; color: #f4f27e;" role="alert">
        <%= message %>
      </div>
    <% } %>
  <% } %>