body {
    background-image: url("../header/image11.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  a {
    color: rgb(56, 214, 48);
    text-decoration: none;
  }
  a:hover{
    color: rgb(187, 19, 19);
  }